In [3]:
import yfinance as yfin
import pandas as pd
import os

In [4]:
sp500 = yfin.Ticker("^GSPC")

In [5]:
sp500 = sp500.history(period = "max")

In [6]:
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2023-10-30 00:00:00-04:00,4139.390137,4177.470215,4132.939941,4166.819824,3911140000,0.0,0.0
2023-10-31 00:00:00-04:00,4171.330078,4195.549805,4153.120117,4193.799805,4249470000,0.0,0.0
2023-11-01 00:00:00-04:00,4201.270020,4245.640137,4197.740234,4237.859863,4224900000,0.0,0.0
2023-11-02 00:00:00-04:00,4268.259766,4319.720215,4268.259766,4317.779785,4669780000,0.0,0.0
2023-11-03 00:00:00-04:00,4334.229980,4373.620117,4334.229980,4358.339844,2664071000,0.0,0.0

In [7]:
sp500.index

DatetimeIndex(['1927-12-30 00:00:00-05:00', '1928-01-03 00:00:00-05:00',
               '1928-01-04 00:00:00-05:00', '1928-01-05 00:00:00-05:00',
               '1928-01-06 00:00:00-05:00', '1928-01-09 00:00:00-05:00',
               '1928-01-10 00:00:00-05:00', '1928-01-11 00:00:00-05:00',
               '1928-01-12 00:00:00-05:00', '1928-01-13 00:00:00-05:00',
               ...
               '2023-10-23 00:00:00-04:00', '2023-10-24 00:00:00-04:00',
               '2023-10-25 00:00:00-04:00', '2023-10-26 00:00:00-04:00',
               '2023-10-27 00:00:00-04:00', '2023-10-30 00:00:00-04:00',
               '2023-10-31 00:00:00-04:00', '2023-11-01 00:00:00-04:00',
               '2023-11-02 00:00:00-04:00', '2023-11-03 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=24077, freq=None)